@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .custom-img {
  background-image: url("/Mylo & Eddie.png");
  background-image: url("/Kupful.jpeg");
  transition: opacity 1s ease-in-out;
} */

body {
  @apply font-obodai-mont;
}

.custom-img {
  height: 98vh;
  width: 100vw;
  background-size: cover;
  animation: image 20s infinite alternate;
}

#myDiv {
  border: thick solid blue;
}

@keyframes image {
  0% {
    background-image: url("/Wall Sign.png");
  }
  25% {
    background-image: url("/Two Urban Posters.jpeg");
  }
  50% {
    background-image: url("/Cosmetics.jpeg");
  }
  75% {
    background-image: url("/Business Card.jpeg");
  }
  100% {
    background-image: url("/Mylo & Eddie.png");
  }
}

.custom-img2 {
  background-image: url("/Kupful.jpeg");
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce-right {
  animation: bounce 1s infinite;
}

@keyframes rebound {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-rebound {
  animation: rebound 1s infinite;
}
