@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img {
  background-image: url("/Mylo & Eddie.png");
}

.custom-img2 {
  background-image: url("/Kupful.jpeg");
}

@keyframes bounce {
    0%, 100% {
        transform: translateX(-25%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}
.animate-bounce-right {
    animation: bounce 1s infinite;
}

@keyframes rebound{
    0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}
.animate-rebound {
    animation: rebound 1s infinite;
}